* {
    --white-base: #fff;
    --black-base: #000;
    --blue-base: #14073a;
    --blue-ocean: #478ea5;
    --blue-light: #f1f4f6;
    --green-light: #f0fff0;
    --gray-light: #f0f0ff;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0 auto;
    background-color: var(--white-base);
}

h1 {
    margin: 0 0 100px 0;
    padding: 50px 0 20px 0;
    text-align: center;
    background-color: var(--blue-light);
}

form {
    margin: 0 auto;
    width: 80%;
}

.flex {
    display: flex;
    justify-content: center;
}

@media (max-width: 650px) {
    #input-fields-container {
        flex-flow: column;
    }

    .input-field {
        display: flex;
        justify-content: space-between;
    }

    .input-field label, .input-field input {
        width: 50%;
    }
}

.column-flow {
    flex-flow: column;
}

.input-field {
    margin: 5px;
}

input[type="submit"] {
    align-self: center;
    width: fit-content;
}

#output {
    position: relative;
    width: 50%;
    margin: 10px auto;
}

#result-container {
    position: relative;

    min-height: 20px;
    max-height: 300px;

    padding: 10px;
    overflow: auto;

    border-radius: 10px;
    border: 1px dashed var(--blue-ocean);
    background-color: var(--green-light);
}

#result {
    font-family: monospace;
    margin: 0;
}

#copy-btn {
    position: absolute;
    top: 10px;
    right: 15px;

    width: 20px;
    height: 20px;
    padding: 2px;
    background-size: 20px;
}

.copy-icon {
    background: no-repeat url("/static/copy-icon.svg");
    cursor: pointer;
}

.copy-success {
    background: no-repeat url("/static/check-icon.svg");
}
